* {
	box-sizing: border-box;
}

body {
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.marker {
  display: none;
}

.leaflet-popup-content {
	font-family: "Open Sans", sans-serif;
	padding-bottom: 10px;
}

/*

Adapted from http://css-tricks.com/uniqlo-stripe-hovers/

*/
@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

#player {
	display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
}

#player iframe {
  vertical-align: top;
}

#player.loading {
	display: block;
	width: 320px;
  background-size: 30px 30px;
  background-image: linear-gradient(
	45deg, 
	rgba(255, 255, 255, 0.5)  25%,
	transparent               25%,
	transparent               50%,
	rgba(255, 255, 255, 0.5)  50%,
	rgba(255, 255, 255, 0.5)  75%,
	transparent               75%,
	transparent
  );
  animation: barberpole 0.5s linear infinite;
}

#player.ready {
	display: block;
}

@media (max-width: 320px) {
  #player {
	left: 0;
	bottom: 0;
  }
  .leaflet-control-attribution {
	display: none;
  }
}
